#root{
  background-color: #3f3e3e;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.steps{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1rem;
}
.steps button{
  padding: 9px 16px;
  font-size: 2rem;

}
